:root {
    --primary-color: #93b7be ;
    --secondary-color: #fcff4b;
    --accent1-color: #ffc4d1;
    --accent2-color: #731dd8;
    --background-color: rgba(255, 255, 255, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    display: grid;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
}
#logo {
    max-height: 50px;
}
nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.company-info {
    background-color: var(--secondary-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.google-map {
    margin-top: 15px;
}
.employee-profiles {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.employee {
    background-color: var(--background-color);
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.employee img {
    max-width: 100%;
    height: auto;
}
.contact-form {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.contact-form input[type="radio"] {
    margin-right: 5px;
}

.contact-form p {
    margin: 10px 0;
}

.submit-button {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.submit-button:hover {
    background-color: green;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: var(--accent-color);
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}